<template>
  <div>
    <el-dialog
      title="提示"
      :visible.sync="dialogVisible"
      width="30%"
    >
      <span v-if="message==''">  是否确定删除 {{ deletewhat }} {{ kind }} </span>
      <span v-else>{{ message }}</span>
      <span 
        slot="footer" 
        class="dialog-footer"
      >
        <el-button @click="dialogVisible = false;confirmed = 'false';">取 消</el-button>
        <el-button 
          type="primary" 
          @click="deleted()"
        >
          确 定
        </el-button>
      </span>
    </el-dialog>
  </div>
</template>
<style lang="less" src="./index.less" scoped></style>
<script src="./index.js"></script>
