<template>
  <div id="UpdBomDialog">
    <el-dialog
      title="修改BOM组别"
      :visible.sync="dialogFormVisible"
    >
      <el-form
        ref="BomFormRef"
        :model="updBomForm"
        :rules="updBomFormRules"
        label-width="100px"
      >
        <el-form-item
          label="组别编号"
          prop="bomTypeCode"
        >
          <el-input v-model="updBomForm.bomTypeCode" />
        </el-form-item>
        <el-form-item
          label="组别名称"
          prop="bomTypeName"
        >
          <el-input v-model="updBomForm.bomTypeName" />
        </el-form-item>
      </el-form>
      <div 
        slot="footer"
        class="dialog-footer"
      >
        <el-button @click.native="dialogFormVisible = false">取消</el-button>
        <el-button
          type="primary" 
          @click="updBomSubmit()" 
          :loading="updBomLoading"
        >
          确定
        </el-button>
      </div>
    </el-dialog>
  </div>
</template>
<script src="./index.js"></script>
<style lang="less" src="./index.less" scoped></style>