<template>
  <div class="home-top">
    <el-menu
      class="home-top-menu"
      :default-active="defaultActiveUrl"
      router
      mode="horizontal"
      @select="handleSelect"
    >
      <el-menu-item
        v-for="(item,key) in menuStateGet"
        :key="key"
        :index="item.index"
        class="home-menu-item"
      >
        <span slot="title">{{ item.name }}</span>
      </el-menu-item>
      <el-menu-item>
        <el-button
          size="mini"
          @click="logout"
        >
          退出登录
        </el-button>
      </el-menu-item>
    </el-menu>

    <!--    <el-tabs v-model="this.tabActiveName" type="card" @tab-click="this.clickTab" @tab-remove="this.removeTab">-->
    <!--      <el-tab-pane :label='this.tabFirstLabel' index="default" name="default">-->
    <!--        <div id="router-view">-->
    <!--          <router-view :addTab="this.addTab"/>-->
    <!--        </div>-->
    <!--      </el-tab-pane>-->
    <!--      <el-tab-pane v-for="(item,index) in this.tabList"-->
    <!--                   :key="index"-->
    <!--                   :index="item.name"-->
    <!--                   :label="item.describe"-->
    <!--                   :name="String(index)" closable-->
    <!--      >-->
    <!--        <keep-alive>-->
    <!--          <component :is="this.tabList[index].name" :addTab="this.addTab"></component>-->
    <!--        </keep-alive>-->
    <!--      </el-tab-pane>-->
    <!--    </el-tabs>-->
  </div>
</template>
<style lang="less" src="./index.less" scoped></style>
<script src="./index.js"></script>
