<template>
  <el-dialog
    center
    :visible.sync="dialogFormVisible"
    width="1020px"
    align="center"
  >
    <el-table
      :data="BOMTableList"
      size="mini"
      style="width: 100%;"
      default-expand-all
      align="center"
      highlight-current-row
      stripe
      max-height="500px"
      v-loading="BOMTableListLoading"
      row-key="materialCode"
      :tree-props="{ children: 'children', hasChildren: 'hasChildren' }"
    >
      <el-table-column
        v-for="(item, index) in BOMTableFiled"
        :key="index"
        align="center"
        :prop="item.key"
        :label="item.label"
      />
    </el-table>
    <span
      slot="footer"
      class="dialog-footer"
    >
      <el-button @click="dialogFormVisible = false">取 消</el-button>
    </span>
  </el-dialog>
</template>
<script src="./index.js"></script>
<style lang="less" src="./index.less" scoped></style>
