<template>
  <div class="view-full modifyTaskDialog">
    <el-dialog 
      title="修改工序" 
      :visible.sync="dialogFormVisible" 
      width="1200px"
    >
      <el-form 
        :model="form" 
        ref="form" 
        :inline="true" 
        label-width="110px" 
        :rules="formRules"
      >
        <div>
          <el-form-item 
            label="计划单号" 
            class="modifyTaskDialog-formitem" 
            prop="productionPlanNo"
          >
            <el-input 
              class="modifyTaskDialog-formitem-body" 
              v-model="form.productionPlanNo" 
              placeholder="请输入计划单号" 
              :disabled="true"
            />
          </el-form-item>
          <el-form-item 
            label="工序号" 
            class="modifyTaskDialog-formitem"
            prop="taskNo" 
          >
            <el-input 
              class="modifyTaskDialog-formitem-body" 
              v-model="form.taskNo" 
              :disabled="true"
            />
          </el-form-item>
          <el-form-item 
            label="工序名称" 
            class="modifyTaskDialog-formitem" 
            prop="taskName"
          >
            <el-autocomplete 
              class="modifyTaskDialog-formitem-body" 
              v-model="form.taskName" 
              :fetch-suggestions="searchTaskName" 
              value-key="taskName" 
              placeholder="请输入工序名称" 
              @select="selectTaskName"
            >
              <template slot-scope="{ item }">
                <div>{{ item.taskName }}</div>
              </template>
            </el-autocomplete>
          </el-form-item>
          <el-form-item 
            label="负责人" 
            class="modifyTaskDialog-formitem" 
            prop="operatorEmployeeNo"
          >
            <el-autocomplete 
              class="modifyTaskDialog-formitem-body" 
              v-model="form.operatorEmployeeNo"
              :fetch-suggestions="querySearchAsync"
              value-key="employeeNo"
              placeholder="请输入负责人"
            >
              <template slot-scope="{ item }">
                <div class="employeeNo">{{ item.employeeNo }}</div>
                <span class="name">{{ item.name }}</span>
              </template>
            </el-autocomplete>
          </el-form-item>

          <el-form-item 
            label="预计开始" 
            class="modifyTaskDialog-formitem"
            prop="forecastStartDate"
          >
            <div class="block">
              <el-date-picker 
                class="modifyTaskDialog-datePicker" 
                v-model="form.forecastStartDate" 
                type="date"
                value-format="yyyy-MM-dd HH:mm:ss"
                placeholder="选择日期"
              />
            </div>
          </el-form-item>
          <el-form-item 
            label="预计结束" 
            class="modifyTaskDialog-formitem"
            prop="forecastEndDate"
          >
            <div class="block">
              <el-date-picker 
                class="modifyTaskDialog-datePicker" 
                v-model="form.forecastEndDate" 
                type="date"
                value-format="yyyy-MM-dd HH:mm:ss"
                placeholder="选择日期"
              />
            </div>
          </el-form-item>
          <el-form-item 
            label="合格率" 
            class="modifyTaskDialog-formitem" 
            prop="passPercent"
          >
            <el-input 
              class="modifyTaskDialog-formitem-body" 
              v-model="form.passPercent" 
              placeholder="请输入合格率" 
            />
          </el-form-item>
          <el-form-item 
            label="备注" 
            class="modifyTaskDialog-formitem" 
            prop="remark"
          >
            <el-input 
              class="modifyTaskDialog-formitem-body" 
              v-model="form.remark" 
              placeholder="请输入备注"
            />
          </el-form-item>
          <!--成品-->
          <el-tabs type="border-card">
            <el-tab-pane label="成品">
              <el-table 
                :data="taskProduction"
                class="modifyTaskDialgo-table"
                stripe 
                border
                min-height="250"
                max-height="300"
                @selection-change="selectProduction"
              >
                <el-table-column 
                  v-for="(item,index) in materialTabHeader" 
                  :key="index"
                  class="modifyTaskDialgo-table-column"
                  :prop="item.key"
                  :label="item.label"
                >
                  <template slot-scope="scope">
                    <template v-if="item.key=='materialNumber'">
                      <el-input 
                        v-model="scope.row[item.key]" 
                        @input="changeNumber"
                      />
                    </template>
                    <template v-else-if="item.key=='remark'">
                      <el-input v-model="scope.row[item.key]" />
                    </template>
                    <template v-else>
                      <span>{{ scope.row[item.key] }}</span>
                    </template>
                  </template>
                </el-table-column>
              </el-table>
            </el-tab-pane>
          </el-tabs>

          <!--原料-->
          <el-tabs type="border-card">
            <el-tab-pane label="原料">
              <el-table 
                :data="taskMaterial"
                class="modifyTaskDialgo-table"
                stripe 
                border
                min-height="250"
                max-height="300"
                @selection-change="selectMaterial"
              >
                <el-table-column 
                  v-for="(item,index) in materialTabHeader" 
                  :key="index"
                  class="modifyTaskDialgo-table-column"
                  :prop="item.key"
                  :label="item.label"
                >
                  <template slot-scope="scope">
                    <template v-if="item.key=='materialNumber'||item.key=='remark'">
                      <el-input v-model="scope.row[item.key]" />
                    </template>
                    <template v-else>
                      <span>{{ scope.row[item.key] }}</span>
                    </template>
                  </template>
                </el-table-column>
              </el-table>
            </el-tab-pane>
          </el-tabs>
        </div>
      </el-form>
      <div 
        slot="footer" 
        class="dialog-footer"
      >
        <el-button @click="dialogFormVisible=false,reset('form')">取 消</el-button>
        <el-button @click="reset('form')">重 置</el-button>
        <el-button 
          type="primary" 
          @click="sendForm('form');"
        >
          修 改
        </el-button>
      </div>
    </el-dialog>
  </div>
</template>
<style lang="less" src="./index.less" scoped></style>
<script src="./index.js"></script>
