<template>
  <div id="DelBomDialog">
    <el-dialog
      title="删除BOM组别"
      :visible.sync="dialogFormVisible"
    >
      确定删除 {{ selectType.bomTypeName }} 组件？
      <div 
        slot="footer"
        class="dialog-footer"
      >
        <el-button @click.native="dialogFormVisible = false">取消</el-button>
        <el-button
          type="primary"
          @click="delBomSubmit(false)" 
          :loading="delBomLoading"
        >
          确定
        </el-button>
      </div>
    </el-dialog>
    <el-dialog
      title="删除BOM组别"
      :visible.sync="dialogCheckVisible"
    >
      {{ selectType.bomTypeName }}组下存在bom表，若删除该组，该组bom表也将清空，请确定是否删除
      <div
        slot="footer"
        class="dialog-footer"
      >
        <el-button @click.native="dialogCheckVisible = false">取消</el-button>
        <el-button
          type="primary"
          @click="delBomSubmit(true)"
        >
          确定
        </el-button>
      </div>
    </el-dialog>
  </div>
</template>
<script src="./index.js"></script>
<style lang="less" src="./index.less" scoped></style>