<template>
  <div>
    <el-dialog
      title="提示"
      :visible.sync="dialogVisible"
      width="30%"
      :before-close="handleClose"
    >
      <el-form
        :rules="rules"
        ref="form" 
        :model="form" 
        label-width="100px"
      >
        <el-form-item
          label="部门名称:"
          prop="name"
        >
          <el-input
            v-model="form.name"
          />
        </el-form-item>
        <el-form-item 
          label="部门代码:"
          prop="code"
          label-width="100px"
        >
          <el-input
            v-model="form.code"
          />
        </el-form-item>
        <el-form-item label="部门描述:">
          <el-input 
            type="textarea"
            v-model="form.remarks"
          />
        </el-form-item>
      </el-form>
      <span 
        slot="footer"
        class="dialog-footer"
      >
        <el-button @click="dialogVisible = false">取 消</el-button>
        <el-button
          type="primary"
          @click="onSubmit()"
        >确 定</el-button>
      </span>
    </el-dialog>
  </div>
</template>
<style lang="less" src="./index.less" scoped></style>
<script src="./index.js"></script>
