.view-full {
  width: 100%;
  height: 100%;
}
// 列表组件公用样式
.table-edit-btn {
  color: #0091ff;
  margin-right: 40px;
}

.table-delelt-btn {
  color: #f56c6c;
}

.table-menu {
  display: flex;
  margin-bottom: 18px;
  width: 100%;
  flex-direction: column;
}

.table-add-btn {
  width: 137px;
  align-self: flex-end;
}

.table-pagination {
  width: 100%;
  margin-top: 70px;
  text-align: right;
}
