<template>
  <div class="view-full employee-role">
    <div style="float: left;">
      <el-breadcrumb 
        separator="/" 
        v-if="page.bread!=''"
      >
        <template v-for="item in page.bread">
          <!-- eslint-disable vue/valid-v-for  -->
          <el-breadcrumb-item> <a @click.prevent="goBread(item)">{{ item.name }} </a></el-breadcrumb-item>
        </template>
      </el-breadcrumb>
      <br><br>
      <el-autocomplete
        v-model="state"
        :fetch-suggestions="querySearchAsync"
        placeholder="输入搜索内容"
        @select="handleSelect"
        value-key="name"
      >
        <template slot-scope="{ item }">
          <div class="name">{{ item.name }}</div>
        </template>
      </el-autocomplete>
      <el-button @click="fresh()">搜索</el-button>
      <el-button
        type="primary"
        @click="openDialog('addDepartment',null)"
      >
        新增部门
      </el-button>
    </div>
    <el-table
      :data="tableData"
      style="width: 100%;"
      v-loading="loading"
    >
      <el-table-column
        v-for="(item,index) in tableHead"
        :key="index"
        :prop="item.props"
        :label="item.describe"
      />
      <el-table-column label="操作">
        <template slot-scope="scope">
          <el-button
            size="mini"
            type="primary"
            @click="openDialog('editDepartment',scope.row)"
          >
            编辑
          </el-button>
          <el-button
            size="mini"
            type="warning"
            @click="son(scope.row)"
          >
            管理子部门
          </el-button>
          <el-button
            size="mini"
            type="danger"
            @click="openDeleteDialog(scope.row)"
          >
            删除
          </el-button>
        </template>
      </el-table-column>
    </el-table>
    <div 
      class="block"
      style="float: left;"
    >
      <el-pagination
        @size-change="handleSizeChange"
        @current-change="handleCurrentChange"
        :current-page="page.currentPage"
        :page-sizes="[10, 20, 30, 40]"
        :page-size="page.size"
        layout="total, sizes, prev, pager, next, jumper"
        :total="page.total"
      />
    </div>
    <AddDepartment ref="addDepartment" />
    <EditDepartment ref="editDepartment" />
    <DeleteDepartment ref="deleteDepartment" />
  </div>
</template>
<style lang="less" src="./index.less" scoped></style>
<script src="./index.js"></script>
