@import "~styles/var.less";

.purchase {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;

  &-left {
    margin-top: 100px;
    margin-left: 230px;
    display: flex;
    width: 750px;

    &-item {
      width: 64px;

      img {
        width: 64px;
        height: 64px;
        margin-top: 60px;
      }
    }

    span {
      display: block;
      text-decoration: none;
      font-size: 14px;
      color: black;
      margin-left: 3px;
      line-height: 20px;
      font-family: PingFangSC-Regular, PingFang SC;
    }
  }

  &-center {
    width: 200px;
    flex: 1;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 0;
  }
}
