<template>
  <div class="view-full template">
    <img
      alt="Vue logo"
      src="../../assets/logo.png"
    >
    <HelloWorld :msg="msg" />
  </div>
</template>
<style lang="less" src="./index.less" scoped></style>
<script src="./index.js"></script>
