<template>
  <div class="view-full materiel">
    <div>
      <!-- 头部 -->
      <el-header
        height="40px"
      >
        <el-col
          :span="24"
          class="toolbar"
          style="padding-bottom: 1px;"
          align="left"
        >
          <el-form :inline="true">
            <el-form-item>
              <el-autocomplete
                style="width: 180px;"
                popper-class="my-autocomplete"
                v-model="queryWarehouseName"
                :fetch-suggestions="querySearchAsync"
                value-key="warehouseName"
              >
                <template slot-scope="{ item }">
                  <div class="warehouseName">{{ item.warehouseName }}</div>
                  <span class="warehouseCode">{{ item.warehouseCode }}</span>
                </template>
              </el-autocomplete>
            </el-form-item>
            <el-form-item>
              <el-button
                type="primary"
                @click="openDialog('addStockRoom')"
              >
                新增仓库
              </el-button>
              <el-button
                type="primary"
                @click="downLoad()"
              >
                导出仓库资料
              </el-button>
            </el-form-item>
          </el-form>
        </el-col>
      </el-header>
    </div>
    <!-- 表格 -->
    <el-table
      :data="bodies"
      stripe
      :header-cell-style="header"
      style="width: 100%;"
      ref="table"
      @row-dblclick="edit"
    >
      <el-table-column
        v-for="(item, index) in headers"
        :key="index"
        :prop="item.key"
        :label="item.label"
        align="center"
      />
      <el-table-column
        label="操作"
        align="center"
        width="200px"
      >
        <template slot-scope="scope">
          <el-button
            type="primary"
            size="mini"
            @click="openDialogEdit('editStockRoom', scope.row.warehouseName)"
          >
            编辑
          </el-button>
          <el-button
            type="danger"
            size="mini"
            @click="deleteStockroom(scope.row.warehouseName)"
          >
            删除
          </el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
      :current-page="currentPage"
      :page-sizes="[10, 20, 30, 40]"
      :page-size="pageSize"
      layout="total, sizes, prev, pager, next, jumper"
      :total="total"
    />
    <!-- 点击添加仓库 -->
    <add-stock-room ref="addStockRoom" />
    <edit-stock-room ref="editStockRoom" />
    <!-- <div @click="this.addTab('materiel-page')">dianwo</div> -->
  </div>
</template>
<style lang="less" src="./index.less" scoped></style>
<script src="./index.js"></script>

