@import "~styles/var.less";

#MaterielPage {
  width: 100%;
  height: 800px;
  position: relative;
  overflow: hidden;
}

#left {
  width: calc(20% - 5px);
  height: 100%;
  float: left;
  overflow: auto;
}

#resize {
  position: relative;
  width: 5px;
  height: 100%;
  cursor: w-resize;
  float: left;
  color: rgb(255, 255, 255, 0.3);
}

#right {
  width: 80%;
  height: 100%;
  float: left;
  overflow: hidden;
}

.tr {
  max-height: 200px;
  overflow-y: scroll;
  white-space: nowrap;
}

.tree {
  border: 1px;
  height: 200px;
}

.menuItem {
  line-height: 20px;
  text-align: center;
  height: 25px;
  margin: 0;
  padding: -15px;
}

.menuItem:hover {
  background: rgb(0, 217, 255);
  color: white;
}
// #treeid {
// position: relative;
// background-color: rgb(253, 251, 251);
// }
.menu {
  padding: 0;
  margin: 0;
  position: absolute;
  border-radius: 5px;
  border: 0.5px solid rgb(228, 225, 225);
  box-shadow: 0 0 1px black;
  background: rgb(238, 249, 252);
  z-index: 1;
}

.el-table--enable-row-hover .el-table__body tr:hover > td {
  background-color: #37aefd !important;
  color: white;
}
