<template>
  <div class=" showplandialog">
    <el-dialog
      title="任务详情"
      :visible.sync="dialogFormVisible"
      width="90%"
    >
      <el-form
        :model="createForm"
        :inline="true"
        :rules="createFormRule"
        :ref="createFormRef"
      >
        <el-form-item
          label="关联单号"
          class="box1"
          prop="linkedOrder"
        >
          <el-input
            class="box2"
            v-model="createForm.linkedOrder"
            placeholder="请输入生产单号"
          />
        </el-form-item>
        <el-form-item
          label="要求完工日期"
          class="box1"
          prop="closingDate"
        >
          <div class="block">
            <el-date-picker
              class="el-date-picker"
              v-model="createForm.closingDate"
              type="date"
              value-format="yyyy-MM-dd HH:mm:ss"
              placeholder="选择日期"
            />
          </div>
        </el-form-item>
        <el-form-item
          label="客户简称"
          class="box1"
          prop="customerName"
        >
          <el-autocomplete
            popper-class="my-autocomplete"
            v-model="createForm.customerName"
            :fetch-suggestions="searchCustomerAsync"
            value-key="customerName"
            placeholder="请输入客户简称"
          >
            <template slot-scope="{ item }">
              <div class="employeeNo">{{ item.customerCode }}</div>
              <span class="name">{{ item.customerName }}</span>
            </template>
          </el-autocomplete>
        </el-form-item>
        <el-form-item
          label="负责人"
          class="box1"
          prop="principalEmployeeNo"
        >
          <el-autocomplete
            popper-class="my-autocomplete"
            v-model="createForm.principalEmployeeNo"
            :fetch-suggestions="querySearchAsync"
            value-key="employeeNo"
            placeholder="请输入任务负责人"
          >
            <template slot-scope="{ item }">
              <div class="employeeNo">{{ item.employeeNo }}</div>
              <span class="name">{{ item.name }}</span>
            </template>
          </el-autocomplete>
        </el-form-item>
        <el-form-item
          label="紧急程度"
          class="box1"
          prop="emergencyLevel"
        >
          <el-select
            class="box2"
            v-model="createForm.emergencyLevel"
            placeholder="请选择"
          >
            <el-option
              v-for="item in degree"
              :key="item.value"
              :label="item.label"
              :value="item.value"
            />
          </el-select>
        </el-form-item>
        <el-form-item
          label="状况"
          class="box1"
          prop="status"
        >
          <el-select
            class="box2"
            v-model="createForm.status"
            placeholder="请选择"
          >
            <el-option
              v-for="item in status"
              :key="item.value"
              :label="item.label"
              :value="item.value"
            />
          </el-select>
        </el-form-item>
        <el-form-item
          label="审核人"
          class="box1"
          prop="approvedEmployeeNo"
        >
          <el-autocomplete
            popper-class="my-autocomplete"
            v-model="createForm.approvedEmployeeNo"
            :fetch-suggestions="querySearchAsync"
            value-key="employeeNo"
            placeholder="请输入任务负责人"
          >
            <template slot-scope="{ item }">
              <div class="employeeNo">{{ item.employeeNo }}</div>
              <span class="name">{{ item.name }}</span>
            </template>
          </el-autocomplete>
        </el-form-item>

        <el-form-item
          label="来源"
          class="box1"
          prop="source"
        >
          <el-input
            v-model="createForm.source"
            autocomplete="off"
          />
        </el-form-item>

        <el-form-item
          class="beizhu2"
          label="备注"
          prop="remarks"
        >
          <el-input
            class="beizhu1"
            v-model="createForm.remarks"
            placeholder="请输入备注"
            size=""
          />
        </el-form-item>
      </el-form>
      <!--成品-->
      <el-tabs type="border-card">
        <el-tab-pane label="成品">
          <el-table 
            :data="taskProduction"
            class="chengping"
            stripe
            border
            min-height="250"
            max-height="300"
            @selection-change="selectProduction"
          >
            <el-table-column
              type="selection"
              width="35"
            />
            <el-table-column
              class="chengpingtablecolumn"
              v-for="(item,index) in materialTabHeader"
              :key="index"
              :prop="item.key"
              :label="item.label"
            >
              <template slot-scope="scope">
                <template v-if="item.key=='materialNumber'">
                  <el-input
                    v-model="scope.row[item.key]"
                    @change="changeNumber"
                  />
                </template>
                <template v-else-if="item.key=='remark'">
                  <el-input v-model="scope.row[item.key]" />
                </template>
                <template v-else>
                  <span>{{ scope.row[item.key] }}</span>
                </template>
              </template>
            </el-table-column>
          </el-table>
        </el-tab-pane>
        <el-tab-pane disabled>
          <span slot="label">
            <el-button
              size="mini"
              plain
              @click="openDialog('createProductionDialog')"
            >选择成品</el-button>
            <el-button
              size="mini"
              plain
              @click="deleteProductionRows();"
            >删除选中</el-button>
          </span>
        </el-tab-pane> 
      </el-tabs>

      <!--原料-->
      <el-tabs type="border-card">
        <el-tab-pane label="原料">
          <el-table 
            class="yuanliaotable"
            :data="taskMaterial"
            stripe
            border
            min-height="250"
            max-height="300"
            @selection-change="selectMaterial"
          >
            <el-table-column
              type="selection"
              width="35"
            />
            <el-table-column
              class="yuanliaotablecolumn"
              v-for="(item,index) in materialTabHeader"
              :key="index"
              :prop="item.key"
              :label="item.label"
            >
              <template slot-scope="scope">
                <template v-if="item.key=='materialNumber'||item.key=='remark'">
                  <el-input v-model="scope.row[item.key]" />
                </template>
                <template v-else>
                  <span>{{ scope.row[item.key] }}</span>
                </template>
              </template>
            </el-table-column>
          </el-table>
        </el-tab-pane>
        <el-tab-pane disabled>
          <span slot="label">
            <el-button
              size="mini"
              plain
              @click="openDialog('createMaterialDialog')"
            >选择物料</el-button>
            <el-button
              size="mini"
              plain
              @click="deleteMaterialRows();"
            >删除选中</el-button>
            <el-popconfirm
              title="是否确定替换当前你选择的所有原料？"
              @onConfirm="analyzeBOM()"
            >
              <el-button
                size="mini"
                plain
                slot="reference"
              >按BOM分析</el-button>
            </el-popconfirm>
          </span>
        </el-tab-pane> 
      </el-tabs>
      <div
        slot="footer"
        class="dialog-footer"
      >
        <el-button @click="dialogFormVisible=false,reset(createFormRef)">取 消</el-button>
        <el-button @click="reset(createFormRef)">重 置</el-button>
        <el-button
          type="primary"
          @click="sendForm(createFormRef);"
        >
          确 定
        </el-button>
      </div>
    </el-dialog>
  </div>
</template>
<style lang="less" src="./index.less" scoped></style>
<script src="./index.js"></script>
