@import "~styles/var.less";

h1 {
  text-align: center;
}

.box1 {
  width: 300px;
  margin-left: 16px;
}

.box2 {
  width: 180px;
  word-break: break-all;
  white-space: normal;
}

.box3 {
  display: block;
  text-align: center;
}

.box3 button {
  width: 100px;
}

/deep/ .cell {
  padding: 0 !important;
}

/deep/ .el-input__inner {
  border-radius: 0%;
}

.part1 {
  width: 1000px;
  margin: 0 auto;
}

.employeeNo {
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: normal !important;
}

.name {
  font-size: 12px;
  color: #b4b4b4;
}

.unitName {
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: normal !important;
}

.unitCode {
  font-size: 11px;
  color: #b4b4b4;
}
