@import "~styles/var.less";

#materiel {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  margin-top: 60px;
}

#materialaside {
  margin-left: 15%;
}

.el-tabs__item:focus.is-active.is-focus:not(:active) {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

#material {
  position: relative;
  margin-left: 10%;
  display: flex;
  width: 60%;
  text-align: center;
}

#material span {
  text-decoration: none;
  font-size: 10px;
  color: black;
  margin-left: 3px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#material .right img {
  width: 60px;
  height: 60px;
  margin-top: 30px;
}

#material .left img {
  width: 60px;
  height: 60px;
  margin-top: 30px;
}

#material .left_left img {
  width: 45px;
  height: 45px;
  margin-top: 45px;
}

#material .center {
  flex: 1;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 100px;
}

.view-full {
  position: relative;
}
