<template>
  <div>
    <el-dialog
      title="新增权限"
      :visible.sync="dialogVisible"
      width="40%"
      :before-close="handleClose"
    >
      <el-form 
        ref="form" 
        :model="form" 
        label-width="120px"
      >
        <el-form-item label="权限名称:">
          <el-input
            v-model="form.name"
          />
        </el-form-item>
        <el-form-item label="arp_url">
          <el-input
            v-model="form.arp_url"
          />
        </el-form-item>
        <el-form-item label="method">
          <el-input
            v-model="form.method"
          />
        </el-form-item>
        <el-form-item label="描述">
          <el-input 
            type="textarea"
            v-model="form.desc"
          />
        </el-form-item>
        <el-form-item label="是否默认拥有">
          <el-radio
            v-model="form.default"
            :label="true"
          >
            是
          </el-radio>
          <el-radio
            v-model="form.default"
            :label="false"
          >
            否
          </el-radio>
        </el-form-item>
      </el-form>
      <span 
        slot="footer"
        class="dialog-footer"
      >
        <el-button @click="dialogVisible = false">取 消</el-button>
        <el-button
          type="primary"
          @click="onSubmit()"
        >确 定</el-button>
      </span>
    </el-dialog>
  </div>
</template>
<style lang="less" src="./index.less" scoped></style>
<script src="./index.js"></script>
