<template>
  <el-button
    :size="size"
    :type="type"
    @click="handleClick"
    :native-type="nativeType"
    :loading="loading"
    :disabled="disabled || handlePermission()"
    :plain="plain"
    :autofocus="autofocus"
    :round="round"
    :circle="circle"
  >
    <span v-if="$slots.default"><slot /></span>
  </el-button>
</template>

<script>
import created from "mixins/created.js"

export default created ({
  name: "QlButton",
  props: {
    type: {
      type: String,
      default: 'default'
    },
    size: String,
    icon: {
      type: String,
      default: ''
    },
    nativeType: {
      type: String,
      default: 'button'
    },
    loading: Boolean,
    disabled: Boolean,
    plain: Boolean,
    autofocus: Boolean,
    round: Boolean,
    circle: Boolean,
    permission: {
      type: String,
      default: ''
    }
  },
  methods: {
    handlePermission() {
      let state = this.permissionStateGet[this.$route.path];
      // console.log(this.permission,this.$route.path)
      if(!state && this.permission==='edit'){
        return true
      }
    },
    handleClick(evt) {
      this.$emit('click', evt);
    }
  }
})
</script>

