<template>
  <div class="view-full employee-role">
    <div style="float: left;">
      <el-autocomplete
        v-model="state"
        :fetch-suggestions="querySearchAsync"
        placeholder="输入搜索内容"
        @select="handleSelect"
        value-key="name"
      >
        <template slot-scope="{ item }">
          <div class="warehouseName">{{ item.name }}</div>
          <span class="warehouseCode">{{ item.id }}</span>
        </template>
      </el-autocomplete>
      <el-button>搜索</el-button>
      <el-button
        type="primary"
        @click="openDialog('addRole')"
      >
        新增角色
      </el-button>
    </div>
    <el-table
      v-loading="loading"
      :data="tableData"
      style="width: 100%;"
    >
      <el-table-column
        v-for="(item, index) in tableHead"
        :key="index"
        :prop="item.props"
        :label="item.describe"
      />
      <el-table-column label="操作">
        <template slot-scope="scope">
          <el-button
            size="mini"
            type="primary"
            @click="openDialog('editRole',scope.row)"
          >
            编辑
          </el-button>
          <el-button
            size="mini"
            type="warning"
            @click="openDialog('menuAssignment',scope.row)"
          >
            菜单分配
          </el-button>
          <el-button
            size="mini"
            type="danger"
            @click="openDeleteDialog(scope.row)"
          >
            删除
          </el-button>
        </template>
      </el-table-column>
    </el-table>
    <div
      class="block"
      style="float: left;"
    >
      <el-pagination
        @size-change="handleSizeChange"
        @current-change="handleCurrentChange"
        :current-page="page.currentPage"
        :page-sizes="[10, 20, 30, 40]"
        :page-size="page.pageSize"
        layout="total, sizes, prev, pager, next, jumper"
        :total="page.total"
      />
    </div>
    <AddRole ref="addRole" />
    <EditRole ref="editRole" />
    <MenuAssignment ref="menuAssignment" />
    <DeleteDepartment ref="deleteDepartment" />
  </div>
</template>
<style lang="less" src="./index.less" scoped></style>
<script src="./index.js"></script>
