<template>
  <div id="OutStockDraw">
    <!--表单区域-->
    <h1>领料出库</h1>
    <el-form
      :model="ruleForm"
      label-width="90px"
      :rules="rules"
      size="mini"
      :inline="true"
      ref="ruleForm"
    >
      <div class="part1">
        <el-form-item
          class="box1"
          label="单据类型:"
          prop="documentType"
        >
          <el-select
            class="box2"
            v-model="ruleForm.documentType"
            :disabled="true"
          >
            <el-option
              label="销售出库"
              value="销售出库"
            />
            <el-option
              label="生产领料"
              value="生产领料"
            />
            <el-option
              label="盘亏毁损"
              value="盘亏毁损"
            />
            <el-option
              label="其他出库"
              value="其他出库"
            />
          </el-select>
        </el-form-item>
        <el-form-item
          class="box1"
          label="编号:"
          prop="documentNo"
        >
          <el-input
            class="box2"
            v-model="ruleForm.documentNo"
            maxlength:100px
            :disabled="true"
          />
        </el-form-item>
        <el-form-item
          class="box1"
          label="审核标志:"
          prop="allow"
        >
          <el-select
            class="box2"
            v-model="ruleForm.allow"
            :disabled="true"
          >
            <el-option
              label="未审核"
              value="false"
            />
            <el-option
              label="已审核"
              value="true"
            />
          </el-select>
        </el-form-item>
        <el-form-item
          class="box1"
          label="日期:"
          prop="documentDate"
        >
          <div class="block">
            <el-date-picker
              style="width: 180px;"
              v-model="ruleForm.documentDate"
              type="date"
              value-format="yyyy-MM-dd HH:mm:ss"
              placeholder="选择日期"
            />
          </div>
        </el-form-item>
        <el-form-item
          class="box1"
          label="红蓝单:"
          prop="redSheet"
        >
          <el-select
            class="box2"
            v-model="ruleForm.redSheet"
            placeholder="请选择红蓝单"
          >
            <el-option
              label="红单"
              value="true"
            />
            <el-option
              label="蓝单"
              value="false"
            />
          </el-select>
        </el-form-item>
        <el-form-item
          class="box1"
          label="领料用途:"
          prop="pickingPurpose"
        >
          <el-autocomplete
            class="box2"
            clearable
            placeholder="请输入领料用途"
            :fetch-suggestions="searchPickingPurposeAsync"
            v-model="ruleForm.pickingPurpose"
            value-key="pickingPurposeName"
          >
            <template slot-scope="{item }">
              <div class="employeeNo">{{ item.pickingPurposeCode }}</div>
              <span class="name">{{ item.pickingPurposeName }}</span>
            </template>
          </el-autocomplete>
        </el-form-item>
        <el-form-item
          class="box1"
          label="发料人:"
          prop="issuer"
        >
          <el-autocomplete
            class="box2"
            clearable
            placeholder="请输入发料人"
            :fetch-suggestions="querySearchAsync"
            v-model="ruleForm.issuer"
            value-key="name"
          >
            <template slot-scope="{item }">
              <div class="employeeNo">{{ item.employeeNo }}</div>
              <span class="name">{{ item.name }}</span>
            </template>
          </el-autocomplete>
        </el-form-item>
        <el-form-item
          class="box1"
          label="领料人:"
          prop="picker"
        >
          <el-autocomplete
            class="box2"
            clearable
            placeholder="请输入领料人"
            :fetch-suggestions="querySearchAsync"
            v-model="ruleForm.picker"
            value-key="name"
          >
            <template slot-scope="{item }">
              <div class="employeeNo">{{ item.employeeNo }}</div>
              <span class="name">{{ item.name }}</span>
            </template>
          </el-autocomplete>
        </el-form-item>
        <!-- <el-form-item
          class="box1"
          label="领料类型:"
          prop="pickingType"
        >
          <el-autocomplete
            class="box2"
            clearable
            placeholder="请输入领料类型"
          />
        </el-form-item> -->
        <el-form-item
          class="box1"
          label="摘要:"
          prop="digest"
        >
          <el-input
            class="box2"
            v-model="ruleForm.digest"
            maxlength:100px
          />
        </el-form-item>
      </div>
      <br>
      <!--表格区域-->
      <el-button
        size="mini"
        @click="openDetailFormDialog()"
        style="float: right;"
      >
        增行
      </el-button>
      <el-button
        size="mini"
        @click="dialogFormVisible=true"
        style="float: right;"
      >
        表格设置
      </el-button>
      <el-table
        :data="ruleForm.materialsDetail"
        style="width: 100%;"
        border
        max-height="300"
        v-loading="loading"
        :cell-style="{padding:'0px'}"
      >
        <el-table-column
          v-for="(items,index) in tempCols"
          :fixed="items.fixed"
          :key="index"
          :prop="items.prop"
          :label="items.label"
          :type="items.type"
          :width="items.width ? items.width:'180px'"
          align="center"
        >
          <!-- <template slot-scope="scope">
            不同列组件设置不同
            <template v-if="items.prop=='materialName'">
              <el-autocomplete
                clearable
                :fetch-suggestions="searchMaterialAsync"
                v-model="scope.row[items.prop]"
                value-key="materialName"
                @select="(item) => {handleSelect(item,scope.row)}"
              >
                <template slot-scope="{ item }">
                  <div class="employeeNo">{{ item.materialCode }}</div>
                  <span class="name">{{ item.materialName }}</span>
                </template>
              </el-autocomplete>
            </template>
            <template v-else-if="items.prop=='unit'">
              <el-autocomplete
                clearable
                :fetch-suggestions="searchUnitAsync"
                v-model="scope.row[items.prop]"
                value-key="unitName"
              >
                <template slot-scope="{ item }">
                  <div class="employeeNo">{{ item.unitCode }}</div>
                  <span class="name">{{ item.unitName }}</span>
                </template>
              </el-autocomplete>
            </template>
            <template v-else>
              <div class="input-box">
                <el-input v-model="scope.row[items.prop]" />
              </div>
            </template>
          </template> -->
        </el-table-column>
        <el-table-column
          fixed="right"
          label="操作"
          width="240px"
          align="center"
        >
          <template slot-scope="scope">
            <el-button
              type="primary"
              size="mini"
              @click="openDetailFormDialog(scope)"
            >
              编辑
            </el-button>
            <el-button
              @click.native.prevent="selectWarehouse(1,0,scope.row)"
              type="primary"
              size="mini"
            >
              选择仓库
            </el-button>
            <el-button
              @click.native.prevent="deleteRow(scope.$index,ruleForm.materialsDetail)"
              type="primary"
              size="mini"
            >
              删行
            </el-button>
          </template>
        </el-table-column>
      </el-table>
      <!--   添加/编辑物料表单   -->
      <el-dialog
        title="添加/编辑物料"
        :visible.sync="DialogDetailFormVisible"
        class="material-detail-dialog"
      >
        <el-form
          :model="dialogDetailForm"
          :rules="rules"
          ref="dialogDetailForm"
          class="material-detail-dialog-form"
          label-width="120px"
        >
          <el-form-item
            label="物料名称"
            prop="materialName"
          >
            <el-autocomplete
              placeholder="请输入物料名称"
              v-model="dialogDetailForm.materialName"
              :fetch-suggestions="searchMaterialAsync"
              value-key="materialName"
              @select="(item) => {handleSelect(item)}"
              clearable
            >
              <template slot-scope="{ item }">
                <div class="employeeNo">{{ item.materialCode }}</div>
                <span class="name">{{ item.materialName }}</span>
              </template>
            </el-autocomplete>
          </el-form-item>
          <el-form-item
            label="规格型号"
            prop="materialSap"
          >
            <el-input
              placeholder="请输入规格型号"
              v-model="dialogDetailForm.materialSap"
            />
          </el-form-item>

          <el-form-item
            label="仓库名称"
            prop="warehouseName"
          >
            <el-autocomplete
              placeholder="请输入仓库名称"
              v-model="dialogDetailForm.warehouseName"
              :fetch-suggestions="searchWarehouseNameAsync"
              value-key="warehouseName"
              clearable
            >
              <template slot-scope="{ item }">
                <div class="employeeNo">{{ item.warehouseCode }}</div>
                <span class="name">{{ item.warehouseName }}</span>
              </template>
            </el-autocomplete>
          </el-form-item>
          <el-form-item
            label="批号"
            prop="batchNumber"
          >
            <el-input
              placeholder="请输入批号"
              v-model="dialogDetailForm.batchNumber"
              value-key="batchNumber"
            />
          </el-form-item>

          <el-form-item
            label="单位"
            prop="unit"
          >
            <el-autocomplete
              placeholder="请输入单位"
              v-model="dialogDetailForm.unit"
              :fetch-suggestions="searchUnitAsync"
              value-key="unitName"
            >
              <template slot-scope="{ item }">
                <div class="employeeNo">{{ item.unitCode }}</div>
                <span class="name">{{ item.unitName }}</span>
              </template>
            </el-autocomplete>
          </el-form-item>
          <el-form-item
            label="产品项目"
            prop="productProject"
          >
            <el-input
              placeholder="请输入产品项目"
              v-model="dialogDetailForm.productProject"
              value-key="productProject"
            />
          </el-form-item>

          <el-form-item
            label="实发数量"
            prop="issuedQuantity"
          >
            <el-input
              placeholder="请输入实发数量"
              v-model="dialogDetailForm.issuedQuantity"
              value-key="issuedQuantity"
            />
          </el-form-item>

          <el-form-item
            label="备注"
            prop="remark"
          >
            <el-input
              placeholder="请输入备注"
              v-model="dialogDetailForm.remark"
              value-key="remark"
            />
          </el-form-item>
        </el-form>
        <div
          slot="footer"
          class="dialog-footer"
        >
          <el-button @click="closeDetailFormDialog()">取 消</el-button>
          <el-button
            type="primary"
            @click="handleSaveDetailForm()"
          >
            确 定
          </el-button>
        </div>
      </el-dialog>
      <br>
      <!--表格设置对话框-->
      <el-dialog
        title="选择需要的字段"
        :visible.sync="dialogFormVisible"
        width="40%"
        center
        top="15vh"
      >
        <el-checkbox
          :indeterminate="isIndeterminate"
          v-model="checkAll"
          @change="handleCheckAllChange"
        >
          全选
        </el-checkbox>
        <div style="margin: 15px 0;" />
        <el-checkbox-group
          v-model="checkedCities"
          @change="handleCheckedCitiesChange"
        >
          <el-checkbox
            v-for="item in columns"
            :label="item.prop"
            :key="item.prop"
          >
            {{ item.label }}
          </el-checkbox>
        </el-checkbox-group>
        <div
          slot="footer"
          class="dialog-footer"
        >
          <el-button
            @click="dialogFormVisible=false"
            size="medium"
          >
            取 消
          </el-button>
          <el-button
            type="primary"
            @click="confirmShow"
            size="medium"
          >
            确定
          </el-button>
        </div>
      </el-dialog>
      <!--表单区域-->
      <div class="part1">
        <el-form-item
          class="box1"
          label="部门:"
          prop="department"
        >
          <el-autocomplete
            class="box2"
            clearable
            placeholder="请输入部门"
            :fetch-suggestions="searchDepartmentAsync"
            v-model="ruleForm.department"
            value-key="name"
          >
            <template slot-scope="{item }">
              <div class="employeeNo">{{ item.name }}</div>
              <span class="name">{{ item.code }}</span>
            </template>
          </el-autocomplete>
        </el-form-item>
        <el-form-item
          class="box1"
          label="主管:"
          prop="manager"
        >
          <el-autocomplete
            class="box2"
            clearable
            placeholder="请输入主管"
            :fetch-suggestions="querySearchAsync"
            v-model="ruleForm.manager"
            value-key="name"
          >
            <template slot-scope="{item }">
              <div class="employeeNo">{{ item.employeeNo }}</div>
              <span class="name">{{ item.name }}</span>
            </template>
          </el-autocomplete>
        </el-form-item>
        <el-form-item
          class="box1"
          label="制单人:"
          prop="documentCreator"
        >
          <el-autocomplete
            class="box2"
            clearable
            placeholder="请输入制单人"
            :fetch-suggestions="querySearchAsync"
            v-model="ruleForm.documentCreator"
            value-key="name"
          >
            <template slot-scope="{item }">
              <div class="employeeNo">{{ item.employeeNo }}</div>
              <span class="name">{{ item.name }}</span>
            </template>
          </el-autocomplete>
        </el-form-item>
        <el-form-item
          class="box1"
          label="审核人:"
          prop="examineEmployee"
        >
          <el-autocomplete
            class="box2"
            clearable
            placeholder="请输入审核人"
            :fetch-suggestions="querySearchAsync"
            v-model="ruleForm.examineEmployee"
            :disabled="true"
            value-key="name"
          >
            <template slot-scope="{item }">
              <div class="employeeNo">{{ item.employeeNo }}</div>
              <span class="name">{{ item.name }}</span>
            </template>
          </el-autocomplete>
        </el-form-item>
      </div>
      <br>
      <!--选择仓库对话框-->
      <el-dialog
        title="选择仓库"
        :visible.sync="warehouseDialogVisible"
        width="900px"
        center
        top="15vh"
      >
        {{ selectedMaterialName }}需要至少需要{{ selectedMaterialLeastQuantity }}
        <el-table
          :data="materialInfo"
          border
          @selection-change="SelectionWarehouseChange"
          style="width: 830px;"
        >
          <el-table-column
            type="selection"
            width="35"
            align="center"
          />
          <el-table-column
            v-for="(item,index) in warehouseHeader"
            :key="index"
            style="text-align: center;"
            :label="item.label"
            :prop="item.key"
            :width="item.width"
          />
          <!-- <el-table-column
            prop="warehouseName"
            label="仓库"
            width="115" align="center">
          </el-table-column>
          <el-table-column
            prop="inventoryQuantity"
            label="库存量"
            width="115" align="center">
          </el-table-column>
          <el-table-column
            prop="unit"
            label="单位"
            width="115" align="center">
          </el-table-column>-->
          <el-table-column
            prop="count"
            label="数量"
            width="100"
            align="center"
          >
            <template slot-scope="scope">
              <el-input v-model="scope.row.number" />
            </template>
          </el-table-column>
        </el-table>
        <el-pagination
          @size-change="PageSizeChange"
          @current-change="PageCurrentChange"
          :current-page="PageInfo.current"
          :page-sizes="[10, 20, 30, 40]"
          :page-size="PageInfo.pageSize"
          layout="total, sizes, prev, pager, next, jumper"
          :total="PageInfo.total"
        />
        <div
          slot="footer"
          class="dialog-footer"
        >
          <el-button
            @click="modifyMaterialDetail()"
            type="primary"
          >
            确定
          </el-button>
          <el-button @click="warehouseDialogVisible=false">取消</el-button>
        </div>
      </el-dialog>
    </el-form>
    <div class="box3">
      <el-button
        type="primary"
        size="small"
        @click="onSumit('ruleForm');"
      >
        提交
      </el-button>
    </div>
  </div>
</template>
<script src="./index.js"></script>
<style lang="less" src="./index.less" scoped></style>
