@import "~styles/var.less";

.production {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;

  &-container {
    padding: 0;
    margin: 0;
  }

  &-aside {
    background-color: rgb(238, 241, 246);
  }

  &-row {
    margin: 15px 0;
  }

  &-myAutocomplete {
    float: right;
  }

  &-table {
    width: 100%;

    &-column {
      text-align: center;
    }
  }

  &-pagination {
    margin-top: 20px;
  }
}

/deep/ .el-table__body tr.current-row > td {
  background-color: #cff !important;
  color: black;
}

/deep/ .el-table__row:hover > td {
  background-color: #fff !important;
}

/deep/ .el-table__row--striped:hover > td {
  background-color: #fafafa !important;
}
