<template>
  <div class="login view-full flex-center">
    <el-form
      class="login-form"
      :rules="rules"
      ref="ruleForm"
      :model="form"
      @keyup.enter.native="submitForm('ruleForm')"
    >
      <div class="login-form-logo">
        <img
          src="../../assets/login-logo.svg"
          alt
        >
      </div>
      <el-form-item prop="username">
        <el-input
          prefix-icon="el-icon-user"
          v-model="form.username"
          placeholder="请输入用户名"
        />
      </el-form-item>
      <el-form-item prop="password">
        <el-input
          prefix-icon="el-icon-lock"
          clearable
          v-model="form.password"
          type="password"
          placeholder="请输入密码"
        />
      </el-form-item>
      <el-form-item class="login-btns">
        <el-button
          type="primary"
          @click="submitForm('ruleForm')"
          class="login-btn"
        >
          登录
        </el-button>
        <el-button
          type="info"
          @click="resetRuleFormRef"
        >
          重置
        </el-button>
      </el-form-item>
    </el-form>
  </div>
</template>
<style lang="less" src="./index.less"></style>
<script src="./index.js"></script>
