.login {
  background-color: #fff;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;

  &-form {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 450px;
    padding: 0 80px 50px 80px;

    &-logo {
      margin: auto;
      margin-bottom: 40px;
      padding: 10px;
      width: 130px;
      height: auto;
      border: 1px solid #eee;
      border-radius: 50%;
      box-shadow: 0 0 10px #ddd;

      img {
        border-radius: 50%;
        width: 100%;
        height: 100%;
        background: #eee;
      }
    }
  }

  //
  //&-title {
  //  text-align: center;
  //  margin: 50px auto;
  //  font-size: 20px;
  //}
  //
  //&-inputcode {
  //  width: 130px;
  //  margin: 0 10px 0 0;
  //}
  //
  //&-img {
  //  width: 105px;
  //  height: 40px;
  //  cursor: pointer;
  //  vertical-align: top;
  //  border-radius: 5px;
  //  background-color: #eeb1da;
  //}
  //
  //&-bigimg {
  //  background-color: #eeb1da;
  //  border-radius: 5px;
  //}

  &-btns {
    display: flex;
    justify-content: flex-end;
  }

  &-btn {
    margin: 15px 0 0 0;
  }
}
