<template>
  <div class="view-full scan">
    <div>
      <el-autocomplete
        popper-class="my-autocomplete"
        v-model="state"
        :fetch-suggestions="querySearch"
        placeholder="请输入内容"
        @select="handleSelect"
      >
        <i
          class="el-icon-edit el-input__icon"
          slot="suffix"
          @click="handleIconClick"
        />
        <template slot-scope="{ item }">
          <div class="name">{{ item.value }}</div>
          <span class="addr">{{ item.address }}</span>
        </template>
      </el-autocomplete>
    </div>
    <div class="div1">
      <span>单据号</span>
      <el-input
        style="width:180px"
        placeholder="请输入内容"
        v-model="state"
        :disabled="true"
      />
    </div>
    <div class="div1">
      <span class="div1">单据物料列表</span>
      <br><br>
      <el-card class="box-card">
        <el-table
          :data="tableData"
          style="width: 100%"
        >
          <el-table-column
            v-for="item in tableHead"
            :prop="item.prop"
            :label="item.describe"
            :key="item.prop"
          />
        </el-table>
      </el-card>
    </div>
    <el-button
      type="success"
      class="scanButton"
      plain
    >
      提交扫描
    </el-button>
    <div class="div1">
      <span>扫描列表</span>
      <br><br>
      <el-card class="box-card">
        <el-table
          :data="tableData2"
          style="width: 100%"
        >
          <el-table-column
            v-for="item in scanListHead"
            :prop="item.prop"
            :label="item.describe"
            :key="item.prop"
          />
        </el-table>
      </el-card>
    </div>
    <div class="bottom">
      <el-button
        type="primary"
        plain
        @click="openDialog('ScanNum')"
      >
        人工获取扫描数据
      </el-button>
      <el-button type="primary">提交</el-button>
    </div>
    <ScanNum
      ref="ScanNum"
    />
  </div>
</template>
<style lang="less" src="./index.less" scoped></style>
<script src="./index.js"></script>

