@import "~styles/var.less";

.div1{
  margin-bottom:20px;
  margin-top: 20px;
  clear: both;
}
.text {
  font-size: 14px;
}

.item {
  margin-bottom: 18px;
}
.scanButton{
  float: right;
}
.bottom{
  margin: 0 auto;
  text-align: center
}