<template>
  <div class="view-full employee-role">
    <el-breadcrumb 
      separator="/" 
      v-if="page.bread!=''"
    >
      <template v-for="item in page.bread">
        <!-- eslint-disable vue/valid-v-for  -->
        <el-breadcrumb-item> <a @click.prevent="goBread(item)">{{ item.name }} </a></el-breadcrumb-item>
      </template>
    </el-breadcrumb>
    <br><br>
    <el-button
      size="mini"
      @click="openDialog('addMenu')"
      type="primary"
    >
      新增菜单
    </el-button>
    <el-table
      :data="tableData"
      style="width: 100%;"
      v-loading="loading"
    >
      <el-table-column
        v-for="(item,index) in tableHead"
        :key="index"
        :prop="item.props"
        :label="item.describe"
      />
      <el-table-column
        label="是否显示"
      >
        <template slot-scope="scope">
          <el-switch
            v-model="scope.row.display"
            @change="handleClick(scope.row,scope.row.display)"
            active-color="#13ce66"
            inactive-color="#ff4949"
          />
        </template>
      </el-table-column>
      <el-table-column
        label="操作"
        width="400"
      >
        <template slot-scope="scope">
          <el-button
            size="mini"
            @click="openDialog('editMenu',scope.row)"
            type="primary"
          >
            编辑
          </el-button>
          <el-button
            size="mini"
            type="warning"
            @click="son(scope.row)"
          >
            管理子菜单
          </el-button>
          <el-button
            size="mini"
            type="success"
            @click="openDialog('roleAssignment',scope.row)"
          >
            权限分配
          </el-button>
          <el-button
            size="mini"
            type="danger"
            @click="openDeleteDialog( scope.row)"
          >
            删除
          </el-button>
        </template>
      </el-table-column>
    </el-table>
    <div 
      class="block"
      style="float: left;"
    >
      <el-pagination
        @size-change="handleSizeChange"
        @current-change="handleCurrentChange"
        :current-page="page.currentPage"
        :page-sizes="[10, 20, 30, 40]"
        :page-size="page.size"
        layout="total, sizes, prev, pager, next, jumper"
        :total="page.total"
      />
    </div>
    <EditMenu ref="editMenu" />
    <AddMenu ref="addMenu" />
    <RoleAssignment ref="roleAssignment" />
    <DeleteDepartment ref="deleteDepartment" />
  </div>
</template>
<style lang="less" src="./index.less" scoped></style>
<script src="./index.js"></script>
